#start {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: black;
}

.text {
    position: absolute;
    z-index: 1;
    mix-blend-mode: difference;
}

h1 {
    color: white;
}